*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  flex-direction: column;
  background-color: cornflowerblue;

}

.typewriter{
  display: flex;
  justify-content: center;
  flex-direction: column;

  b{
      color: #fff;
      padding: 10px;
  }
}


.typewriter p{
  font-family: serif;
  margin-inline: auto;
  text-transform: lowercase;
  font-size: 1.5em;
  overflow: hidden;
  white-space: nowrap;
  margin: 2%;
  color: white;
  border-right: 1px solid;
  animation: typing 5s steps(22) forwards infinite;
}

@keyframes typing {
  from{
      width: 0;
  }

  to{
      width: 100%;
  }
}




.container {
  height: 150px;
  display: flex;
  flex-direction: column;
  width: 300px;
  background-color: white;
  border-radius: 5px;


  form {
  margin: 1px 10px;
  width: 100%;

    label {
      font-weight: 100;
      font-size: .8em;
      font-family: Verdana, Geneva, Tahoma, sans-serif;

    }
    input {
      width: 93%;
      margin: 1px 0px;
      padding: 8px 0;
      border: 1px solid gainsboro;
      outline: none;
      border-radius: 4px;
    }

    /*ici c'est pour gere l'element quand l'utlisateurs saisir une valeur*/
      input:valid {
      padding-left: 10px;
    } 


    input[type="submit"]{
      background-color: cornflowerblue;
      border: none;
      margin-top: 5px;
      color: white;
      font-weight: bold;
    }
  }
}

#message {
  width: 300px;
  background-color: white;
  padding: 10px 12px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: .8em;
  border-radius: 5px;
  margin-top: 10px;
  animation: message .5s linear;
  display: none;

  h3 {
    font-weight: 100;
    text-transform: capitalize;
    font-size: 1.2em;
  }

  p {
    margin-left: 8px;
    line-height: 30px;
  }
}

@keyframes message {
  from{
    transform: translateY(20px);
  }
}

/*pour le exigeances*/

.invalid {
  color: red;
}

.invalid::before {
  position: relative;
  left: -7px;
  content: '\2715' ;
}

.valid {
  color: green;
}

.valid::before {
  position: relative;
  left: -7px;
  content: '\2713' ;
}
